- var list = [{"name": "Черниговская", "innerNodes": [{"name": "Буковинський"}, {"name": "Нежинский"} ] }]


ul.list
  li.list__item.list__item_grey= 'Черниговская '
    span обл.

    ul.list__nested-list
      li.list__item.list__item_grey= 'Буковинский '
        span р-н.

        ul.list__nested-list
          li.list__item= 'Чернигов '
            span м.

            ul.list__nested-list
              li.list__item= 'Центральный '
                span мр-н

                ul.list__nested-list
                  li.list__item= 'Тараса Шевченко '
                    span вул.

                    ul.list__nested-list
                      li.list__item= '1-11, 39-58, 84-200 '
                        span буд.
                      li.list__item= '13 '
                        span буд.

          li.list__item= 'Напивчуба-Рубайло '
            span вул.

      li.list__item.list__item_grey= 'Нежинский '
        span р-н

        ul.list__nested-list
          li.list__item= 'Плавні '
            span с.

            ul.list__nested-list
              li.list__item= 'Нежинский '
                span мр-н

                ul.list__nested-list
                  li.list__item= 'Ярослава Мудрого '
                    span наб.

                    ul.list__nested-list
                      li.list__item= '1 '
                        span буд.

                        ul.list__nested-list
                          li.list__item= '1-20, 30-50, 60-70 '
                            span кв.

                  li.list__item= 'Чумацький шлях '
                    span б-р

                    ul.list__nested-list
                      li.list__item= '1,3,5,7,9,11,13,15,17,19,21 '
                        span буд.
